html{
    margin:0px;
}
body{
    margin: 0px;
    /* background-color: black; */
    /* background-image: linear-gradient(rgba(252, 178, 236, 0.959),rgb(190, 172, 255),rgb(207, 235, 248)); */
    /* background-image: linear-gradient(to bottom right, #ffd9ff,#ffceff,#ffc6ff,#e7bfff,#d8bbff,#c8b6ff,#a0c4ff,#a0cbff,#9eddff); */
    /* background-image: linear-gradient(to bottom right, #ffd9ff,#ffceff,#e7bfff,#d8bbff,#a0cbff,#9eddff); */
    background-image: linear-gradient(to bottom right, #ffa9ff,#dda5fd,#d0acff,#a0cbff,#9eddff);
    /* background-image: linear-gradient(to bottom right, #ffa9ff,#ffa0ff,#dda5fd,#d8bbff,#a0cbff,#9eddff); */
    height:100%;
    background-attachment: fixed;
}
.mission{
    color: transparent;
    font-size: 100px;
}

#black{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    opacity:1;
    transition: all .5s ease-in-out;
    pointer-events: none;
    top:0%;
}

#particles-js{
    margin: 0 auto;
    width:100%;
    height:100%;
    top: 0px;
    background-color:transparent;
    z-index: -1;
    position: fixed;
    transition: ease-in-out .5s;
}

.main-title{
    pointer-events: none;
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-family: "Quicksand";
    text-align: center;
    font-weight: 100;
    top: 40%;
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: ease-in-out .3s;
    opacity : 1;
    z-index: 5;
}

.page-content{
    /*margin-top: 50%*/
    position: absolute;
    top: 100%;
    padding: 0px;
    width: 100%;
}

.page-footer{
    transform: translate(-50%,-0%);
    position: fixed;
    bottom: 0;
    left: 50%;
    color:white;
    justify-content: center;
    display: flex; 
    width:100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.transparent{
    color: transparent;
}

.fab{
    color: rgb(196, 74, 201);
}

.fas{
    color: rgb(196, 74, 201);
}

.icon-link{
    padding: 20px;
    font-size: 40px;
    transition: ease-in-out .2s;
}

@media (max-width:420px) {
    .icon-link{
        font-size: 7vw !important;
    }
  }

@media (max-width:350px) {
    .icon-link{
        font-size: 5vw !important;
    }
  }

.icon-link:hover{
    transform: scale(1.2,1.2);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.upcoming {
    background-color: white;
    border-radius: 10px;
    /* margin-left: 15px; */
    /* width: 40%; */
    width: 95%;
    position: relative;
    /* position: absolute */
    /* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.459); */
    /* left:5%; */
    left: 50%;
    padding: 0%;
    transform: translate(-50%,0);
    border: solid rgb(206, 206, 206);
    border-width: 1px 1px;
}

@media (min-width:400px) {
    .upcoming{
        width: 90%;
    }
  }

@media (min-width:950px) {
    .upcoming{
        width: 50%;
    }
  }

.upcoming-title{
    text-align: center;
    text-transform: uppercase;
    font-family: "Quicksand";
    font-size: 30px;
    font-weight:500;
    color: white;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(162, 129, 252);
    top: 0%;
    padding: 20px;
    margin-top: 0;
}

.update{
    border-top-color: gray;
    border-top-width: 2px;
    border-top: gray;
    border-width: 2px;
}

.update-image{
    margin-top: 30px;
    width: 85%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 10px;
}

.update-title{
    text-align: center;
    text-transform: uppercase;
    font-family: "Quicksand";
    font-size: 20px;
    font-weight: 600;
    margin: 5px;

}

.update-details{
    text-align: center;
    font-family: "Quicksand";
    font-size: 40;
    font-weight: 400;
}

.sign-up-button{
    color: white !important;
    text-decoration: none;
    text-align: center;
    transform: translate(-50%, 0%) !important;
    background-color: rgb(123, 213, 243);
    padding: 10px;
    border-radius: 10px;
    margin-left: 50%;
    font-family: 'Quicksand';
    width: 15%;
    margin-top: 25px;
    transition: all ease-in-out .2s;
}

.sign-up-button:hover{
    background-color: rgb(110, 192, 219);
    width: 16%;
}

.button-text{
    color: white !important;
    text-decoration: none !important;
    text-align: center;
    margin-left: auto;
    margin: auto;
    width: 100%;
    position: relative;
}

.update-break{
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 1px;
    margin-top: 20px;
    left:50%;
    transform: translate(-50%,0%);
    position:relative;
}

.featured {
    background-color: white;
    border-radius: 10px;
    width: 95%;
    position: relative;
    left: 50%;
    padding: 0%;
    transform: translate(-50%,0);
    border: solid rgb(206, 206, 206);
    border-width: 1px 1px;
}

.featured-title{
    text-align: center;
    text-transform: uppercase;
    font-family: "Quicksand";
    font-size: 30px;
    font-weight:500;
    color: white;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(115, 164, 253);
    top: 0%;
    padding: 20px;
    margin-top: 0;
}


@media (min-width:400px) {
    .featured{
        width: 90%;
    }
  }

@media (min-width:950px) {
    .featured{
        width: 50%;
    }
  }


.playlist{
    border-top-color: gray;
    border-top-width: 2px;
    border-top: gray;
    border-width: 2px;
}


.playlist-title{
    text-align: center;
    text-transform: uppercase;
    font-family: "Quicksand";
    font-size: 20px;
    font-weight: 600;
    margin: 5px;

}

.playlist-details{
    text-align: center;
    font-family: "Quicksand";
    font-size: 40;
    font-weight: 400;
}

.icon-image{
    margin-top: 0px;
    width: 5%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 5px;
}

.platform-icon:hover{
    background-color: rgb(110, 192, 219);
    width: 16%;
}


.playlist-break{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1px;
    margin-top: 10px;
    left:50%;
    transform: translate(-50%,0%);
    position:relative;
}

.insta-feed{
    scale: 40% !important;
    margin-right: 0%;
}