:root{
    --main-bg-color: rgb(248, 248, 248);
    --main-text-color: black;
    --main-card-color: white;
    --big-font-title-card-weight: 100;
    --big-font-title-weight: 700;
    --main-font-body: "Roboto Slab";
    --main-font-body-weight: 300;
    --main-font-title: "Lato";
    /* --header-bg-color: #dda5fd90; */
    --header-bg-color: rgb(253, 253, 253);
    --main-teal-highlight: #9cf0e1;
    --main-light-blue-highlight: rgb(123, 213, 243);
    --main-pink-highlight: rgb(255, 0, 200);
}

[data-theme="dark"]{
    --main-bg-color: rgb(15, 15, 15);
    --main-text-color: rgb(235, 235, 235);
    --main-card-color: rgb(27, 27, 27);
}

html{
    margin:0px;
}
body{
    margin: 0px;
    /* background-color: black; */
    /* background-image: linear-gradient(rgba(252, 178, 236, 0.959),rgb(190, 172, 255),rgb(207, 235, 248)); */
    /* background-image: linear-gradient(to bottom right, #ffd9ff,#ffceff,#ffc6ff,#e7bfff,#d8bbff,#c8b6ff,#a0c4ff,#a0cbff,#9eddff); */
    /* background-image: linear-gradient(to bottom right, #ffd9ff,#ffceff,#e7bfff,#d8bbff,#a0cbff,#9eddff); */
    /*background-image: linear-gradient(to bottom right, #ffa9ff,#dda5fd,#d0acff,#a0cbff,#9eddff);*/
    
    /* background: linear-gradient(133deg, #ffa9ff, #ffa0ff, #dda5fd, #d8bbff, #a0cbff, #9eddff);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 21s ease infinite;
    -moz-animation: AnimationName 21s ease infinite;
    animation: AnimationName 21s ease infinite;*/

    /* background-image: linear-gradient(to bottom right, #ffa9ff,#ffa0ff,#dda5fd,#d8bbff,#a0cbff,#9eddff); */
    height:100%;
    background-attachment: fixed;
    background-color: var(--main-bg-color);
}

.css-selector {/*https://www.gradient-animator.com/*/
    background: linear-gradient(133deg, #ffa9ff, #ffa0ff, #dda5fd, #d8bbff, #a0cbff, #9eddff);
    background-size: 1200% 1200%;

    -webkit-animation: AnimationName 21s ease infinite;
    -moz-animation: AnimationName 21s ease infinite;
    animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@keyframes AnimationName {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}

.mission{
    color: transparent;
    font-size: 100px;
}

#black{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
    opacity:1;
    transition: all .5s ease-in-out;
    pointer-events: none;
    top:0%;
}

#particles-js{
    margin: 0 auto;
    width:100%;
    height:100%;
    top: 0px;
    background-color:transparent;
    z-index: -3;
    position: fixed;
    transition: ease-in-out .5s;
}

#bg-video{
    z-index: -2;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    transition: all ease-in-out .2s;
}

#image-preload{
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -2;
    transition: all ease-in-out .2s;
    /* background-image: url("/videos/title_video/main-video-load.png"); */
}

#background-blurrer{
    z-index: -1;
    height: 100vh;
    width: 100vw;
    color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    transition: all ease-in-out .2s;
}

.main-title{
    pointer-events: none;
    font-size: 100px;
    /* color: rgb(255, 255, 255); */
    color: var(--main-text-color);
    font-family: var(--main-font-title);
    text-align: center;
    font-weight: var(--big-font-title-weight);
    top: 40%;
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    transition: ease-in-out .3s;
    opacity : 1;
    z-index: 5;
}

.page-content{
    /*margin-top: 50%*/
    position: absolute;
    top: 100%;
    padding: 0px;
    width: 100%;
}

.page-footer{
    position: fixed;
    bottom: 0;
    color:white;
    justify-content: center;
    display: flex; 
    width:100%;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all ease-in-out .2s;
}

.transparent{
    color: transparent;
}

.fab{
    color: rgb(196, 74, 201);
}

.fas{
    color: rgb(196, 74, 201);
}

.footer-icon{

}

.icon-link{
    padding: 20px;
    font-size: 40px;
    transition: ease-in-out .2s;
}

@media (max-width:420px) {
    .icon-link{
        font-size: 7vw !important;
    }
  }

@media (max-width:350px) {
    .icon-link{
        font-size: 5vw !important;
    }
  }

.icon-link:hover{
    transform: scale(1.2,1.2);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-card{
    transition: all ease-in-out .2s;
}

.page-card:hover{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.199);
}

.upcoming {
    background-color: var(--main-card-color);
    border-radius: 10px;
    /* margin-left: 15px; */
    /* width: 40%; */
    width: 95%;
    position: relative;
    /* position: absolute */
    /* left:5%; */
    left: 50%;
    padding: 0%;
    transform: translate(-50%,0);
    /* border: solid rgb(206, 206, 206);
    border-width: 1px 1px; */
    color: var(--main-text-color);
}

@media (min-width:400px) {
    .upcoming{
        width: 90%;
    }
  }

@media (min-width:950px) {
    .upcoming{
        width: 50%;
    }
  }

.upcoming-title{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--main-font-body);
    /* font-family: "Poppins"; */
    font-size: 30px;
    font-weight:300;
    /* font-weight:200; */
    color: white;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(162, 129, 252);
    top: 0%;
    padding: 20px;
    margin-top: 0;
}

.update{
    border-top-color: gray;
    border-top-width: 2px;
    border-top: gray;
    border-width: 2px;
}

.update-image{
    margin-top: 30px;
    width: 85%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 10px;
}

.update-title{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--main-font-body);
    font-size: 20px;
    font-weight: 600;
    margin: 5px;    

}

.update-details{
    text-align: center;
    font-family: var(--main-font-body);
    font-size: 40;
    font-weight: var(--main-font-body-weight);
}

.sign-up-button{
    color: black !important;
    text-decoration: none;
    text-align: center;
    transform: translate(-50%, 0%) !important;
    /* background-color: rgb(123, 213, 243); */
    background-color: var(--main-teal-highlight);
    padding: 10px 20px;
    border-radius: 100vh;
    margin-left: 50%;
    font-family: var(--main-font-body);
    width: fit-content;
    margin-top: 25px;
    transition: all ease-in-out .2s;
}

.sign-up-button:hover{
    background-color: rgb(110, 192, 219);
}

.button-text{
    color: white !important;
    text-decoration: none !important;
    text-align: center;
    margin-left: auto;
    margin: auto;
    width: 100%;
    position: relative;
}

.update-secondary{
    background-color:var(--main-teal-highlight);
    color: white;
    padding: 10px;
    border-radius: 30%;
    left:47%;
    transform: translate(-50%,0%);
    top: 20%;
    position: relative;
}

.secondary-icon{
    color: white;
}

.update-break{
    background-color: rgb(224, 224, 224);
    width: 100%;
    height: 1px;
    margin-top: 20px;
    left:50%;
    transform: translate(-50%,0%);
    position:relative;
}

.featured {
    margin-top: 30px;
    background-color: var(--main-card-color);
    border-radius: 10px;
    width: 95%;
    position: relative;
    left: 50%;
    padding: 0%;
    transform: translate(-50%,0);
    text-align: center;
    font-family: var(--main-font-body);
    font-size: 20px;
    font-weight: var(--main-font-body-weight);
    color: var(--main-text-color);

    /* border: solid rgb(206, 206, 206);
    border-width: 1px 1px; */
}

.featured-title{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--main-font-body);
    font-size: 30px;
    font-weight:500;
    color: white;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(115, 164, 253);
    top: 0%;
    padding: 20px;
    margin-top: 0;
}


@media (min-width:400px) {
    .featured{
        width: 90%;
    }
  }

@media (min-width:950px) {
    .featured{
        width: 50%;
    }
  }


.playlist{
    border-top-color: gray;
    border-top-width: 2px;
    border-top: gray;
    border-width: 2px;
}


.playlist-title{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--main-font-body);
    font-size: 20px;
    font-weight: 600;
    margin: 5px;

}

.playlist-details{
    text-align: center;
    font-family: var(--main-font-body);
    font-size: 40;
    font-weight: var(--main-font-body-weight);
}

.platform-flex{
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-image{
    margin-top: 0px;
    width: 5%;
    height: 5%;
    position: relative;
    transition: all ease-in-out .2s;
}

.icon-image:hover{
    transform: scale(1.1,1.1);
}

.platform-icon:hover{
    background-color: rgb(110, 192, 219);
    width: 16%;
}


.playlist-break{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1px;
    margin-top: 5px;
    left:50%;
    transform: translate(-50%,0%);
    position:relative;
}

.insta-posts{
    margin-top: 30px;
    width: 10%;
    position: relative;
    left: 45%;
    justify-content: center;
    /* transform: translate(-50%,0); */
    display: flex;

}
.insta-post{
    padding: 5%;
    background-color: var(--main-card-color);
    border-radius:10px;
}


.post-two{
    margin: 0px 30px;
}

.post-three{
    border-radius:10px;
}


#pixlee_container{
    scale: 40% !important;
    top: 30vh;
    position: absolute;
    margin-right: 0%;
    width: 20% !important;
    /* height: 20% !important; */
}

iframe{
    position: relative;
    width: 90%;
    border-radius: 10px;
}